---
const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="container flex justify-center gap-4 py-5">
    <span class="text-xs text-muted">
      &copy; {year} Yuri Machado Luz. Todos os direitos reservados.
    </span>
  </div>
</footer>

<style>
  .footer {
    border-top: 1px solid var(--color-border);
    margin-top: 6rem;
    &[docsFooter] {
      margin-top: 0;
    }
  }
</style>
