---
import { Base } from "@layouts";
import { getFeaturedProjects, getRecentNotes } from "@shared";
import AboutSection from "@home/AboutSection.astro";
import CTASection from "@home/CTASection.astro";
import FeaturedProjects from "@home/FeaturedProjects.astro";
import Hero from "@home/Hero.astro";
import NotesSection from "@home/NotesSection.astro";

const projects = await getFeaturedProjects();
const recentNotes = await getRecentNotes(4);
---

<Base>
  <main id="home-main" class="overflow-x-clip">
    <Hero />
    <AboutSection />
    <FeaturedProjects projects={projects} />
    {recentNotes.length > 0 && <NotesSection notes={recentNotes} />}
    <CTASection />
  </main>
</Base>

