---
import Home from "@layouts/Home.astro";

const slug = "publicacoes";

void slug;
---

<Home>
  <nav
    slot="navigation"
    class="fixed top-0 left-0 z-50 flex w-full items-center justify-between border-b border-b-accent-light/50 bg-neutral-600/60 px-24 py-8 text-lg font-bold backdrop-blur-md"
  >
    <a href="/">Voltar</a>
    <a href="/" class="font-serif text-primary">YM</a>
  </nav>
  <div class="pt-24" slot="nav-spacer"></div>

  <header
    slot="cta"
    class="container flex flex-col items-center gap-4 py-42 text-center font-serif"
  >
    <h1 class="text-7xl font-bold">Yuri Machado</h1>
    <h2 class="text-xl text-primary-50">Desenvolvedor Full Stack</h2>
  </header>
  <main slot="main"></main>
  <footer slot="footer"></footer>
</Home>
